* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary: #B96AC9;
    --secondary: #E980FC;
    --tertiary: #FFD2FC;
    --quaternary: #231B1B;
}

body {
    background-color: var(--tertiary);
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 5.4rem;
    color: var(quaternary);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

#title-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-screen button {
    margin: 30px;
}

.infobar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#high-scores {
    font-size: 2.5rem;
}

#timer {
    font-size: 2.5rem;
}

#time-remaining {
    font-size: 2.5rem;
}

#question-box {
    display: flex;
    width: 100%;
    font-size: 2.0rem;
}

.answer-box {
    display: flex;
    width: 100%;
    font-size: 1.6rem;
    justify-content: center;
    border: groove;
}

.answer-box:hover {
    opacity: 80%;
    cursor: pointer;
}

.question {
/* PROPERTIES FOR DYNAMIC QUESTION ELEMENT?? */
}

.choices {
  /* PROPERTIES FOR DYNAMIC CHOICE ELEMENTS?? */  
}
